.projectWrapperright {
  margin-top: 150px;
  display: flex;
  margin-left: 139px;
  width: fit-content;
  position: relative;
}

.projectWrapperleft {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  margin-left: 264px;
  position: relative;
}

.title {
  font-size: 30px;
  color: #5cdb95;
  text-decoration: none;
  margin-top: 30px;
}

.horizontal {
  width: 80px;
  margin: 48px 0 0 25px;
}

.titleWrapper {
  display: flex;
  width: fit-content;
  margin-right: 0;
}

.content {
  color: #777b80;
}

.contentWrapper {
  width: 394px;
  height: 218px;
}

.description {
  color: #777b80;
}

.hide {
  display: none;
}

.imageright {
  width: 352px;
  height: 400px;
}

.imageleft {
  width: 352px;
  height: 400px;
}

.projectFooter {
  display: flex;
}

.horizontalFooter {
  width: 80px;
  margin: 22px 0 0 0;
}

.projectLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin-left: 11px;
  margin-top: 15px;
}

.projectLink:hover {
  color: #5cdb95;
}

.imgLinkright {
  width: fit-content;
  margin-left: 195px;
}

.imgLinkleft {
  width: fit-content;
  margin-right: 217px;
}

.outerContainer {
  margin-bottom: 20px;
}
