.projectWrapperright {
  margin-top: 150px;
  display: flex;
  margin-left: 139px;
  width: fit-content;
  position: relative;
}

.projectWrapperleft {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  margin-left: 264px;
  position: relative;
}

.title {
  font-size: 30px;
  color: #5cdb95;
  text-decoration: none;
  margin-top: 30px;
}

.horizontal {
  width: 80px;
  margin: 48px 0 0 25px;
}

.titleWrapper {
  display: flex;
  width: fit-content;
  margin-right: 0;
}

.contentWrapperright {
  width: 394px;
  height: 218px;
}

.contentWrapperleft {
  width: 394px;
  height: 218px;
}

.description,
.content {
  color: #777b80;
}

.hide {
  display: none;
}

.imageright {
  width: 352px;
  height: 400px;
}

.imageleft {
  width: 352px;
  height: 400px;
}

.projectFooter {
  display: flex;
}

.horizontalFooter {
  width: 80px;
  margin: 22px 0 0 0;
}

.projectLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin-left: 11px;
  margin-top: 15px;
}

.projectLink:hover {
  color: #5cdb95;
}

.imgLinkright {
  width: fit-content;
  margin-left: 195px;
}

.imgLinkleft {
  width: fit-content;
  margin-right: 217px;
}

.outerContainer {
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .outerContainer {
    margin-top: -135px;
    margin-left: -65px;
  }
  .title {
    font-size: 23px;
  }
  .description,
  .content {
    width: 170px;
  }

  .contentWrapperleft {
    margin-left: -175px;
    width: 300px;
  }

  .imgLinkright {
    margin-left: -150px;
  }
  .projectWrapperleft {
    margin-left: 125px;
  }

  .horizontal {
    width: 40px;
    margin-top: 45px;
  }
}
