.footerWrapper {
  display: flex;
}

.horizontal {
  width: 80px;
  margin: 0;
  margin-top: 8px;
  margin-right: 25px;
}

.iconWrapper {
  color: #777b80;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.singleIcon:hover {
  color: #5cdb95;
  cursor: pointer;
}

.iconLink {
  color: inherit;
}

@media (max-width: 425px) {
  .footerWrapper {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  .footerWrapper {
    margin-left: 25px;
  }
}

@media (max-width: 320px) {
  .footerWrapper {
    margin-left: 0;
  }
}
