.footerWrapper {
  display: flex;
}

.horizontal {
  width: 80px;
  margin: 0;
  margin-top: 8px;
  margin-right: 25px;
}

.iconWrapper {
  color: #777b80;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.singleIcon:hover {
  color: #5cdb95;
  cursor: pointer;
}

.iconLink {
  color: inherit;
}
