.me {
  border-radius: 50%;
  max-width: 280px;
  max-height: 280px;
  border: 2px solid #777b80;
  margin: 150px 0 0 212px;
}

/* @media (max-width: 1024px) {
  .me {
    margin-left: 10px;
  }
} */

@media (max-width: 769px) {
  .me {
    margin-left: 50px;
  }
}

@media (max-width: 425px) {
  .me {
    margin-left: 75px;
    width: 280px;
    height: 280px;
    margin-top: 85px;
  }
}

@media (max-width: 414px) {
  .me {
    margin-left: 75px;
  }
}

@media (max-width: 375px) {
  .me {
    margin-left: 50px;
  }
}

@media (max-width: 320px) {
  .me {
    margin-left: 15px;
  }
}
