.contentWrapper {
  margin-top: 100px;
  margin-left: 22px;
  position: relative;
}

.contentLine1 {
  color: #ffffff;
  font-size: 68px;
  margin-bottom: 0;
}

.contentLine2 {
  color: #5cdb95;
  font-size: 159px;
  margin-top: -30px;
  margin-left: -10px;
  margin-bottom: 0;
  font-weight: bolder;
  z-index: 1;
}

.contentLine3 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 0;
  z-index: 1;
}

@media (max-width: 769px) {
  .contentWrapper {
    width: 100%;
  }
  .contentLine1 {
    font-size: 51px;
  }
  .contentLine2 {
    font-size: 120px;
  }
  .contentLine3 {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .contentWrapper {
    margin-top: 0;
    text-align: center;
    margin-left: 50px;
  }
  .contentLine1 {
    font-size: 34px;
    margin-bottom: 20px;
    margin-right: 17px;
  }
  .contentLine2 {
    font-size: 80px;
  }
  .contentLine3 {
    font-size: 9px;
  }
}

@media (max-width: 414px) {
  .contentWrapper {
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .contentWrapper {
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
  .contentWrapper {
    margin-left: 10px;
  }
}
