.heroContainer {
  margin-top: -75px;
}

.heroInnerWrapper {
  display: flex;
}

.horizontal {
  color: #ffffff;
  width: 80px;
  margin-top: 200px;
  margin-left: 5px;
  margin-right: 0;
}

@media (max-width: 425px) {
  .heroInnerWrapper {
    display: inline-block;
  }
  .horizontal {
    display: none;
  }
}
