.heroContainer {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.horizontal {
  color: #ffffff;
  width: 80px;
  margin-top: 200px;
  margin-left: 5px;
  margin-right: 0;
}

@media (max-width: 425px) {
  .heroContainer {
    display: inline-block;
  }
  .horizontal {
    display: none;
  }
}
