.backgroundWrapper {
  position: absolute;
  transform: rotate(-45deg);
  top: 200px;
  right: 478px;
  z-index: -5;
}

.hr1 {
  border: 2px dotted #ffffff;
  opacity: 0.05;
  margin-bottom: 20px;
  width: 622px;
}

.hr2 {
  width: 622px;
  border-top: 2px solid #ffffff;
  border-bottom: none;
  border-right: none;
  border-left: none;
  opacity: 0.15;
}

@media (max-width: 769px) {
  .backgroundWrapper {
    top: 150px;
    right: 175px;
  }
}

@media (max-width: 425px) {
  .backgroundWrapper {
    display: none;
  }
}
