.backgroundWrapper {
  position: absolute;
  transform: rotate(-45deg);
  top: 60%;
  left: 35%;
  z-index: -5;
}

.hr1 {
  border: 2px dotted #ffffff;
  opacity: 0.05;
  margin-bottom: 20px;
  width: 302px;
}

.hr2 {
  width: 302px;
  /* height: 491px; */
  border-top: 2px solid #ffffff;
  border-bottom: none;
  border-right: none;
  border-left: none;
  opacity: 0.15;
}

/* @media (max-width: 769px) {
  .backgroundWrapper {
    top: 150px;
    right: 50px;
  }
} */

@media (max-width: 425px) {
  .backgroundWrapper {
    top: 75%;
    left: 15%;
  }
}
