.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
  background: #1e2225;
  width: 100%;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  width: 428px;
  height: 16px;
  margin-top: 0;
  padding-right: 138px;
}

.navItem {
  color: #777b80;
  list-style-type: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.navItemCurrent {
  color: #5cdb95;
  list-style-type: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.navItem:hover {
  color: #5cdb95;
}

li {
  list-style-type: none;
}

.logo {
  width: 29px;
  height: 39px;
  color: #ffffff;
  padding-left: 135px;
  font-size: 30px;
}

.logoDot {
  width: 9px;
  height: 39px;
  color: #5cdb95;
}

@media (max-width: 769px) {
  .logo {
    padding-left: 75px;
  }
}

@media (max-width: 425px) {
  .navItem,
  .navItemCurrent {
    margin-right: 20px;
  }

  .logo {
    padding-left: 25px;
  }

  .navWrapper {
    padding-right: 15px;
    padding-left: 20px;
  }
}

@media (max-width: 375px) {
  .navItem,
  .navItemCurrent {
    font-size: 14px;
  }
  .navWrapper {
    padding-left: 10px;
  }
}

@media (max-width: 320px) {
  .navItem,
  .navItemCurrent {
    font-size: 10px;
  }
}
